.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.1rem 0;
    color: var(--color-text);
}

.list__checkbox {
    width: 1.3rem;
    height: 1.3rem;
}

.list__label {
    flex: 1 1 0%;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.list__icon {
    width: 26px;
    height: 26px;
    background-color: var(--color-grey);
    border-radius: 100%;
    transition: all 150ms ease-out;
}

.list__icon:hover {
    background-color: var(--color-accect);
    transform: rotate(15deg) scale(1.2);
}

.list__btn {
    color: var(--color-text);
    background-color: transparent;
}